
.survey-page-header {
  padding: rem(1px);    // collapsing margin issue fix: https://www.sitepoint.com/collapsing-margins/

  &__container {
    width: rem(416px);
    
    @include center-horizontal-block; 
    margin-top: $space-60;   
    margin-bottom: $space-84;
  }

  p {
    @extend %font-small-text-italic-CC;
  }

  h1 {
    @extend %font-main-heading;
  }

    //  Goal: hide  <span>FreeCodeCamp</span>  visually by moving it off-screen
    //  Why: Screen readers still need to hear this element, but visual readers 
    //  don't need to see this <span> because there's already an svg
    //  Resource 1: https://www.accessibility-developer-guide.com/examples/hiding-elements/visually/ 
    //  Resource 2: https://developers.google.com/web/fundamentals/accessibility/semantics-aria/hiding-and-updating-content
    .hidden-visibility {
      position: absolute;
      left:     -10000px;
      top:      auto;
      width:    1px;
      height:   1px;
      overflow: hidden;
    }
  }


