/*
⎟  
⎟   Input fields  —  shared styles that all questions have in common
⎟ 
*/

.question-container {
  margin-bottom: $space-90;

  &__answer-option-cell {
    // height: $space-24;
    margin-bottom: $space-12;
  }

  // Label Styles  —  for all Q's

  //  Needs to become block or inline-block to accept 
  //  a margin-bottom and occupy the entire width of their parent elements    
  &__label,
  &__label-large,
  &__input {
    display: block;
  }

  &__label {
    @extend %font-sub-heading-2;
  }

  &__label-small {
    margin-bottom: $space-12;
  }

  &__label-large {
    margin-bottom: $space-24;

    grid-column: 1 / span 2;
  }

  &__option {
    letter-spacing: -0.4px;
  }

  &:nth-child(8n) {
    margin-bottom: $space-120;  
  } 
} 
.question-container-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: rem(27px);
}
 
// nth-child vs nth-of-type 
// Reference: 
// https://stackoverflow.com/questions/24657555/what-is-the-difference-between-first-child-and-first-of-type