/*
⎟
⎟    Color Palette System 
⎟   
⎟    Based on this article:
⎟    https://bytes.babbel.com/en/articles/2018-04-24-naming-colour-variants.html
⎟
⎟    base  =  original base color / hue
⎟   
⎟    shade  =  the base color with black added to make it darker
⎟    tint  =  the base color with white added to make it lighter  
⎟    tone =   the base color with gray added to make it richer, but less saturated
⎟
⎟    b = black (shade)
⎟    w = white (tint)
⎟    g = gray (tone)
⎟
⎟    Example: 
⎟
⎟    $space-gray-w28: #70767c;  // lighter by 28% (w28)
⎟    $space-gray-b44: #1f2428;  // darker by 44% (b44)
⎟
⎟
*/


//  Color Palette   -------------------- //


//  1. Base Colors  


$banana-yellow:   #FFF034;   //  rgb(255,240,52);
$platinum-gray:   #E0E0E0;   //  rgb(224,224,224);
$van-gogh-blue:   #3949AB;   //  rgb(57,73,171);
$raisin-black:    #2A2A2A;   //  rgb(42,42,42);

$plain-white:     #FFFFFF;   //  rgb(255,255,255);
$pitch-black:     #000000;   //  rgb(0,0,0);


//  2. System Colors 


$error-red:       #D13C57;   //  rgb(209,60,87);
$success-green:   #70DC6B;   //  rgb(112,220,107);




//  Color Variants    -------------------- //


// 1. $banana-yellow 


$banana-yellow-w60:   #FFF9AD;
$banana-yellow-w40:   #FFF685;
$banana-yellow-w20:   #FFF35C;
$banana-yellow:       #FFF034;  //base
$banana-yellow-b6:    #F3E433;
$banana-yellow-b11:   #E8DA33;
$banana-yellow-b15:   #DFD232;


// 2. $platinum-gray


$platinum-gray-w64:   #F3F3F3;
$platinum-gray-w40:   #ECECEC;
$platinum-gray-w20:   #E6E6E6;
$platinum-gray:       #E0E0E0;  //base
$platinum-gray-b10:   #CDCDCD;
$platinum-gray-b22:   #B7B7B7;
$platinum-gray-b34:   #A1A1A1;


// 3. $van-gogh-blue


$van-gogh-blue-b60:    #2F365D;
$van-gogh-blue-b40:    #333C77;
$van-gogh-blue-b20:    #354290;
$van-gogh-blue:        #3949AB;  //base
$van-gogh-blue-w20:    #606DBB;
$van-gogh-blue-w40:    #8891CC;
$van-gogh-blue-w60:    #B7BDE0;


// 4. $raisin-black


$raisin-black-b60:    #101010;
$raisin-black-b43:    #171717;
$raisin-black-b23:    #202020;
$raisin-black:        #2A2A2A;  //base
$raisin-black-w19:    #525252;
$raisin-black-w40:    #7F7F7F;
$raisin-black-w64:    #B2B2B2;



//---------------------------------------//







