html {
  font-size: $font-size-base;
  font-family: $font-stack-IBM_Plex_Sans_Regular;
  line-height: $line-height-base;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-stack-IBM_Plex_Sans_Regular;
  font-size: $font-size-base;
}

#survey-form {
  margin: $space-96 auto; 
  max-width: rem(417px); 
}

//  Fix collapsing top margin issue
//  https://css-tricks.com/what-you-should-know-about-collapsing-margins/

.survey-page-body {
  padding: 1px;
}

//  Removes the default bullet style from list elements

ul, li {
  list-style-type: none;
}

//  Makes the asterisk larger using a different font size
//  Selector from <abbr title="">  

abbr[title] {
  text-decoration: none;
  font-size: $font-size-large;
} 
    
//   Removes gray focus line. 

input {
  &:focus {
    outline: none;
  }
}

//   Removes the yellow background after the user 
//   adds a value into an input field.

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset;
}


//   Removes number input spinners (arrows)
//   when trying to add your age.

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

//   Changes color to the part of a document that has been 
//   highlighted by the user. 

::selection {
  background: $van-gogh-blue;
  color: $plain-white;
}
