/*
⎟  
⎟  Typography System
⎟ 
⎟  Reference:
⎟  https://medium.com/tradecraft-traction/harmonious-typography-and-grids-10da490a17d
⎟ 
*/


//  Font Stacks   ------------ //


$font-stack-TTCommons: 'TTCommons Regular', Arial, Helvetica, sans-serif;	
$font-stack-IBM_Plex_Sans_Regular: 'IBM Plex Sans Regular', 'Avant Garde', Arial, Helvetica, sans-serif;	
$font-stack-IBM_Plex_Sans_Italic: 'IBM Plex Sans Regular Italic', cursive;	
$font-stack-IBM_Plex_Sans_Medium: 'IBM Plex Sans Medium', 'Avant Garde', Arial, Helvetica, sans-serif;	
$font-stack-IBM_Plex_Sans_Medium_Italic: 'IBM Plex Sans Medium Italic', 'Avant Garde', Arial, Helvetica, sans-serif;	



//  Font Sizes   ------------ //


$font-size-extra-large  :   rem(36px);
$font-size-large        :   rem(24px);
$font-size-medium       :   rem(20px);
$font-size-base         :        16px;   // deadlock situation: _typography.scss and _PX-to-EM.scss both need to each other to complete the task   
$font-size-small        :   rem(13px); 
$font-size-extra-small  : rem(11.4px);



//  Line Heights   ---------- //


$line-height-extra-large  :  rem(54px);
$line-height-large        :  rem(36px);
$line-height-medium       :  rem(30px);
$line-height-base         :  rem(24px);
$line-height-small        :  rem(20px); 
$line-height-extra-small  :  rem(17px);



//  Font Styles  --------------  //


%font-main-heading {
  font-family:      $font-stack-TTCommons;
  font-size:       $font-size-extra-large;
  line-height:   $line-height-extra-large; 
  color:                     $plain-white;  // maybe too specific?
  letter-spacing:                  normal;
}


%font-sub-heading-1 {
  font-family:    $font-stack-IBM_Plex_Sans_Regular;
  font-size:                       $font-size-large;
  line-height:                   $line-height-large; 
  color:                              $raisin-black;
  letter-spacing:                            normal;
}


%font-sub-heading-2 {
  font-family:    $font-stack-IBM_Plex_Sans_Regular;
  font-size:                      $font-size-medium;
  line-height:                  $line-height-medium; 
  color:                              $raisin-black;
  letter-spacing:                            normal;
}



%font-body-text {
  font-family:    $font-stack-IBM_Plex_Sans_Regular;
  font-size:                        $font-size-base;
  line-height:                    $line-height-base; 
  color:                           $raisin-black-w19;
  letter-spacing:                            -0.2px;
}


%font-body-text-bold {
  font-family:     $font-stack-IBM_Plex_Sans_Medium;
  font-size:                        $font-size-base;
  line-height:                    $line-height-base; 
  color:                              $raisin-black;
  letter-spacing:                            -0.2px;
}


%font-small-text-italic {
  font-family:     $font-stack-IBM_Plex_Sans_Italic;
  font-size:                       $font-size-small;
  line-height:                   $line-height-small; 
  color:                             $platinum-gray;
  letter-spacing:                            normal;
}


%font-extra-small-text {
  font-family:     $font-stack-IBM_Plex_Sans_Medium;
  font-size:                 $font-size-extra-small;
  line-height:             $line-height-extra-small; 
  color:                               $plain-white;
  letter-spacing:                            normal;
}



//---------------------------------------//