 


//  Font Stacks   ------------ //


$font-stack-TTCommons: 'TTCommons Regular', Arial, Helvetica, sans-serif;	
$font-stack-IBM_Plex_Sans_Regular: 'IBM Plex Sans Regular', 'Avant Garde', Arial, Helvetica, sans-serif;	
$font-stack-IBM_Plex_Sans_Italic: 'IBM Plex Sans Regular Italic', cursive;	
$font-stack-IBM_Plex_Sans_Medium: 'IBM Plex Sans Medium', 'Avant Garde', Arial, Helvetica, sans-serif;	
$font-stack-IBM_Plex_Sans_Medium_Italic: 'IBM Plex Sans Medium Italic', 'Avant Garde', Arial, Helvetica, sans-serif;	



//  Font Sizes   ------------ //


$font-size-extra-large  :   36px;
$font-size-large        :   24px;
$font-size-medium       :   20px;
$font-size-base         :   16px;
$font-size-small        :   13px; 
$font-size-extra-small  : 11.4px;



//  Line Heights   ---------- //


$line-height-extra-large  :  54px;
$line-height-large        :  36px;
$line-height-medium       :  30px;
$line-height-base         :  24px;
$line-height-small        :  20px; 
$line-height-extra-small  :  17px;


// Font Styles  --------------  //




